version: '3.7'

services:
  postgres:
    image: postgres:12.1-alpine
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=quiz_db
      - POSTGRES_USER=quiz
      - POSTGRES_PASSWORD=quiz
  web:
    build: ./web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./web/:/usr/src/web/
    ports:
      - "9001:8000"
    env_file:
      - ./.env.dev
    depends_on:
      - postgres
    stdin_open: true
    tty: true

volumes:
  postgres-data:
